{% extends 'layout.html' %}

 {% block page_content %}

<div class="container centered col-xs-10" style="float:none; margin: 0 auto">
 
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group input-group-lg">
      <h2> Roasting Time:</h2>
      <input type="text" class="roasttime form-control" id="name" name="name" placeholder="Enter time in minutes...">
    </div>
    <button type="submit" class="btn btn-success btn-lg" id="startbutton">Start</button>
  </form>
  <br>
  <div class="msg-roasttime"></div>
  <div class="msg-wrapper" id="demo"></div>
</div>

<script type="text/javascript">
  var socket = io.connect('http://192.168.0.91:5000/')
  roast_time=""
  var form = $('form').on('submit', function( e ) {
    e.preventDefault()
    var roast_time = $('input.roasttime').val()*1000*60
    var start_time = new Date().getTime()
    console.log( "roast time is ", roast_time )
    console.log( "start time is ", start_time )
    var min = Math.floor((roast_time % (1000 * 60 * 60)) / (1000 * 60));
    var sec = Math.floor((roast_time % (1000 * 60)) / 1000);
     $('div.msg-roasttime').append('<div class="msgbbl alert alert-info"><b> Roast time is: </b>'+min+'m '+sec+' s</div>')
    socket.emit( 'my event', {
      roasttime: roast_time,
      starttime: start_time
    })
    //empty message field
    $('input.roasttime').val('').focus()
  })
  //capture message from the server
  socket.on('my response', function(msg) {
    var minutes = Math.floor((msg.timeleft % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((msg.timeleft % (1000 * 60)) / 1000);
    if(typeof msg !== 'undefined'){
      $('div.msg-roasttime').html('<div class="msgbbl alert alert-info"><b> Roast time is: </b>'+minutes+'m '+seconds+' s')
      if(msg.msg == 'Finished!'){
        $('div.msg-roasttime').html('<div class="msgbbl alert alert-danger"><b>'+msg.msg+'<b></div>') 
      }
  }
  console.log(msg)
})       
</script>

{% endblock %}

